<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="dbcpDataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${jdbc.driver}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="maxActive" value="3" />
		<property name="maxIdle" value="9" />
		<property name="maxWait" value="27" />
		<property name="defaultAutoCommit" value="true" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dbcpDataSource" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">false</prop>
				<!-- <prop key="hibernate.cache.provider_class">org.hiberante.cache.EhCacheProvider</prop> 
					<prop key="hibernate.cache.use_query_cache">true</prop> -->
			</props>
		</property>
		<property name="mappingResources">
			<list>
                <value>Node.hbm.xml</value>
                <value>User.hbm.xml</value>
				<value>News.hbm.xml</value>
				<value>LoginLog.hbm.xml</value>
				<value>Image.hbm.xml</value>
			</list>
		</property>
	</bean>

    <bean id="nodeDAO" class="net.realqinwei.hzcrm.crm.dao.impl.NodeDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="userDAO" class="net.realqinwei.hzcrm.crm.dao.impl.UserDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

	<bean id="newsDAO" class="net.realqinwei.hzcrm.crm.dao.impl.NewsDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="imageDAO" class="net.realqinwei.hzcrm.crm.dao.impl.ImageDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<bean id="nodeService" class="net.realqinwei.hzcrm.crm.service.impl.NodeServiceImpl">
		<property name="nodeDAO" ref="nodeDAO" />
	</bean>

    <bean id="userService" class="net.realqinwei.hzcrm.crm.service.impl.UserServiceImpl">
        <property name="userDAO" ref="userDAO" />
    </bean>
	
	<bean id="newsService" class="net.realqinwei.hzcrm.crm.service.impl.NewsServiceImpl">
		<property name="newsDAO" ref="newsDAO" />
	</bean>
	
	<bean id="imageService" class="net.realqinwei.hzcrm.crm.service.impl.ImageServiceImpl">
		<property name="imageDAO" ref="imageDAO" />
	</bean>
	
	<bean id="nodeRepositoryBean" class="net.realqinwei.hzcrm.crm.service.impl.NodeRepositoryImpl">
		<property name="nodeDAO" ref="nodeDAO" />
	</bean>
		
	<bean id="treeFactoryBean" class="net.earthcoder.jmlm.domain.TreeFactory">
		<property name="nodeRepository" ref="nodeRepositoryBean" />
	</bean>
	
	<bean id="treeRepositoryBean" class="net.realqinwei.hzcrm.crm.domain.TreeRepository">
		<property name="treeFactory" ref="treeFactoryBean" />
	</bean>
	
	<bean id="fileUploader" class="net.realqinwei.hzcrm.crm.util.FileUploader" />
	
	<bean id="timestampCreator" class="net.realqinwei.hzcrm.crm.util.TimestampInMillis" />
	
	<bean id="logDAO" class="net.realqinwei.hzcrm.crm.dao.impl.LogDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="logService" class="net.realqinwei.hzcrm.crm.service.impl.LogServiceImpl">
		<property name="logDAO" ref="logDAO" />
	</bean>

	<bean id="loginAction" class="net.realqinwei.hzcrm.crm.action.LoginAction" scope="prototype">
		<property name="nodeService" ref="nodeService" />
		<property name="nodeRepository" ref="nodeRepositoryBean" />
		<property name="treeRepository" ref="treeRepositoryBean" />
		<property name="logService" ref="logService" />
		<property name="timer" ref="timestampCreator"/>
        <property name="userService" ref="userService"/>
	</bean>

	<bean id="springLogoffAction" class="net.realqinwei.hzcrm.crm.action.LogoffAction"
		scope="prototype" />
	
	<bean id="userListAction" class="net.realqinwei.hzcrm.crm.action.UserListAction"
		scope="prototype">
		<property name="nodeRepository" ref="nodeRepositoryBean" />
		<property name="treeRepository" ref="treeRepositoryBean" />
	</bean>
	
	<bean id="billListAction" class="net.realqinwei.hzcrm.crm.action.BillListAction"
		scope="prototype">
		<property name="treeRepository" ref="treeRepositoryBean"/>
	</bean>
	
	<bean id="tree2AppletAction" class="net.realqinwei.hzcrm.crm.action.Tree2AppletAction"
		scope="prototype">
		<property name="nodeRepository" ref="nodeRepositoryBean"/>
		<property name="treeRepository" ref="treeRepositoryBean"/>
	</bean>
	
	<bean id="indexAction" class="net.realqinwei.hzcrm.crm.action.IndexAction"
		scope="prototype">
		<property name="newsService" ref="newsService"/>
	</bean>
	
	<bean id="aboutAction" class="net.realqinwei.hzcrm.crm.action.AboutAction"
		scope="prototype">
		<property name="newsService" ref="newsService"/>
		<property name="timer" ref="timestampCreator"/>
	</bean>
	
	<bean id="contactAction" class="net.realqinwei.hzcrm.crm.action.ContactAction"
		scope="prototype">
		<property name="newsService" ref="newsService"/>
		<property name="timer" ref="timestampCreator"/>
	</bean>
	
	<bean id="newsListAction" class="net.realqinwei.hzcrm.crm.action.NewsListAction"
		scope="prototype">
		<property name="newsService" ref="newsService"/>
	</bean>
	
	<bean id="newsAction" class="net.realqinwei.hzcrm.crm.action.NewsAction"
		scope="prototype">
		<property name="newsService" ref="newsService"/>
		<property name="timer" ref="timestampCreator"/>
	</bean>
	
	<bean id="productAction" class="net.realqinwei.hzcrm.crm.action.ProductAction"
		scope="prototype">
		<property name="newsService" ref="newsService"/>
		<property name="timer" ref="timestampCreator"/>
		<property name="uploader" ref="fileUploader"/>
	</bean>
	
	<bean id="userAction" class="net.realqinwei.hzcrm.crm.action.UserAction"
		scope="prototype">
		<property name="userService" ref="userService"/>
		<property name="timer" ref="timestampCreator"/>
	</bean>
	
	<bean id="nodeAction" class="net.realqinwei.hzcrm.crm.action.NodeAction"
		scope="prototype">
		<property name="nodeService" ref="nodeService"/>
        <property name="userService" ref="userService"/>
		<property name="timer" ref="timestampCreator"/>
        <property name="treeRepository" ref="treeRepositoryBean" />
        <property name="nodeRepository" ref="nodeRepositoryBean" />
	</bean>
	
	<bean id="logAction" class="net.realqinwei.hzcrm.crm.action.LogAction" scope="prototype">
		<property name="logService" ref="logService" />
	</bean>
	
	<bean id="schoolAction" class="net.realqinwei.hzcrm.crm.action.SchoolAction" scope="prototype">
		<property name="newsService" ref="newsService"/>
		<property name="timer" ref="timestampCreator"/>
	</bean>
	
	<bean id="imageAction" class="net.realqinwei.hzcrm.crm.action.ImageAction" scope="prototype">
		<property name="imageService" ref="imageService"/>
		<property name="uploader" ref="fileUploader"/>
	</bean>
	
	<bean id="treeAction" class="net.realqinwei.hzcrm.crm.action.TreeAction" scope="prototype">
		<property name="treeRepository" ref="treeRepositoryBean"/>
	</bean>

</beans>