<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<context-param>
		<param-name>trimSpaces</param-name>
		<param-value>true</param-value>
	</context-param>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>

	<!-- 
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
	</filter>
	-->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	
	<!-- 
	<filter>
		<filter-name>EncodingWatchFilter</filter-name>
		<filter-class>com.nm_huazhi.filter.EncodingWatchFilter</filter-class>
	</filter>
		<filter-mapping>
		<filter-name>EncodingWatchFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	 -->
	
	<filter>
		<filter-name>AdminFilter</filter-name>
		<filter-class>com.nm_huazhi.filter.AdminFilter</filter-class>
		<init-param>
			<param-name>path</param-name>
			<param-value>/login.jsp</param-value>
		</init-param>
	</filter>
	
	<filter>
		<filter-name>SecureFilter</filter-name>
		<filter-class>com.nm_huazhi.filter.SecureFilter</filter-class>
		<init-param>
			<param-name>path</param-name>
			<param-value>/login.jsp</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>AdminFilter</filter-name>
		<url-pattern>/admin/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>SecureFilter</filter-name>
		<url-pattern>/secure/*</url-pattern>
	</filter-mapping>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>TreeServlet</servlet-name>
		<servlet-class>net.realqinwei.hzcrm.crm.servlet.TreeServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>TreeServlet</servlet-name>
		<url-pattern>/TreeServlet</url-pattern>
	</servlet-mapping>

	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<welcome-file-list>
		<welcome-file>nm-huazhi.jsp</welcome-file>
	</welcome-file-list>

</web-app>
